In [4]:
cities = {
    "mumbai": "10 M",
    "pune": "5 M",
    "nashik": "3 M",
    "latur": "1 M"
}

type(cities)

print(cities.items())

dict_items([('mumbai', '10 M'), ('pune', '5 M'), ('nashik', '3 M'), ('latur', '1 M')])

## problem statement
swap keys <--> values

In [8]:

cities = {
    "mumbai": "10 M",
    "pune": "5 M",
    "nashik": "3 M",
    "latur": "1 M"
}


output = dict()

for city, pops in cities.items():
    output[pops] = city
    
print(output)

{'10 M': 'mumbai', '5 M': 'pune', '3 M': 'nashik', '1 M': 'latur'}

# `dict` comprehension

simplest variation
```
{<expression> for <itarator-variables> in <dict>.items()}
```

variation 2

```
{<expression> for <itarator-variables> in <dict>.items() if <condition>}
```

variation 3

```
{<ternary operator> for <itarator-variables> in <dict>.items()}
```

In [9]:
{pops: city for city, pops in cities.items()}

{'10 M': 'mumbai', '5 M': 'pune', '3 M': 'nashik', '1 M': 'latur'}

In [10]:
fruits = {"mango": "sweet", "orange": "sour"}

output = {}

for fruit, taste in fruits.items():
    output[taste] = fruit
    
print(output)

{'sweet': 'mango', 'sour': 'orange'}

In [11]:
{taste: fruit for fruit, taste in fruits.items()}

{'sweet': 'mango', 'sour': 'orange'}

## take an example of 10 natural numbers and print odd / even

Output should be in dict format where key is number and value is `odd/even`

In [13]:
# even numbers only

naturals = list(range(1, 11))
output = {}

for i in naturals:
    if i % 2 == 0:
        output[i] = "even"
print(output)

{2: 'even', 4: 'even', 6: 'even', 8: 'even', 10: 'even'}

In [14]:
naturals = list(range(1, 11))

{i: "even" for i in naturals if i%2 == 0}

{2: 'even', 4: 'even', 6: 'even', 8: 'even', 10: 'even'}

In [ ]:
# even and odd both

In [17]:
naturals = list(range(1, 11))

output = dict()

for i in naturals:
    if i % 2 == 0:
        output[i] = "even"
    else:
        output[i] = "odd"

print(output)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

In [20]:
{i: "even" if i % 2 == 0 else "odd" for i in naturals}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

In [ ]:
## value is over-written when key is not unique

In [21]:
fruits = {"mango": "sweet", "orange": "sour", "banana": "sweet"}

{taste: fruit for fruit, taste in fruits.items()}

{'sweet': 'banana', 'sour': 'orange'}

### `zip` function

In [23]:
students = ["prashant", "rahul", "sachin"]
marks = [100, 90, 80]

for student, score in zip(students, marks):
    print(student)
    print(score)
    print()

prashant
100

rahul
90

sachin
80

In [24]:
students = ["prashant", "rahul", "sachin"]
marks = [100, 90, 80]


output = {}
for student, score in zip(students, marks):
    output[student] = score

print(output)

{'prashant': 100, 'rahul': 90, 'sachin': 80}

In [25]:
{student: score for student, score in zip(students, marks)}

{'prashant': 100, 'rahul': 90, 'sachin': 80}

### numbers and their respective squares as values

In [28]:
numbers = range(1, 7)

{number: number **2 for number in numbers}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### strings and their upper case version as values

In [29]:
students = ["prashant", "rahul", "sachin"]

{student: student.upper() for student in students}

{'prashant': 'PRASHANT', 'rahul': 'RAHUL', 'sachin': 'SACHIN'}

### perform square of number only if it is divisible by 5

In [30]:
numbers = range(1, 21)

{number: number **2 for number in numbers if number % 5 ==0}

{5: 25, 10: 100, 15: 225, 20: 400}

### perform square of number only if it is divisible by 5 (use `None` as value when number is not divisible by 5)

In [31]:
numbers = range(1, 21)

{number: number**2 if number % 5 == 0 else None for number in numbers}

{1: None,
 2: None,
 3: None,
 4: None,
 5: 25,
 6: None,
 7: None,
 8: None,
 9: None,
 10: 100,
 11: None,
 12: None,
 13: None,
 14: None,
 15: 225,
 16: None,
 17: None,
 18: None,
 19: None,
 20: 400}