# What is `dict`?

- Collection of key value pair separated by comma
- The keys of dictionary should immutable data type
- Value of dictionary can be any data type
- key of the dictionary should be unique

# how to create a `dict`?

syntax

```
var = {
    <key1> : <value1>,
    <key2> : <value2>,
    ...,
    ...,
    <key_n> : <value_n>
}
```

# how to create empty dictionary?

In [3]:

# how to create empty dictionary?

foo = {}
type(foo)  # `foo` is an object of class `dict`

dict

In [4]:

# how to create empty dictionary?

bar = dict()

type(bar) # `bar` is an object of class `dict`

dict

# dict representation

In [ ]:
# how does a dict object looks like?

example = {"virat": 100, "hardik": 50, "dhoni": 60}

# keys are -   virat, hardik, dhoni
# values are - 100,    50,     60

In [ ]:
# 3 matches


tournament = {"virat": [100, 30, 0], "hardik": [40, 0, 10], "dhoni": [60, 40]}

# keys -      virat,           hardik,           dhoni
# values -    [100, 30, 0]     [40, 0, 10]       [60, 40]

In [5]:
tournament1 = {[100, 20]: "virat"}

TypeError: unhashable type: 'list'

In [7]:
key1 = 100, 20
tournament1 = {key1: "virat"}
type(tournament1)

dict

In [8]:
value1 = 100, 20   # tuple

tournament2 = {"virat": value1}

type(tournament1)

dict

### immmutable data types

- int
- float
- None
- str
- tuple


#### mutable 

- list

In [9]:
# lets take int as key and list as value

student = {1: ["prashant", 30.50, 100], 2: ["rahul", 40, 60]}

type(student)

dict

In [11]:
# lets take str as key and None as value

foo = {"prashant": None}

type(foo)

dict

In [13]:
bar = {None: "prashant"}
type(bar)

dict

In [14]:
example3 = {True: "prshant"}
type(example3)

dict

In [ ]:
student = {1: ["prashant", 30.50, 100], 2: ["rahul", 40, 60]}

student = [["prashant", 30.50, 100], ["rahul", 40, 60]]

In [19]:
student1 = {1: "prshant", 1: "rahul"}

student1

{1: 'rahul'}

# use cases of dict

- whenver you want represent complex data
- you can perform search operation better

# accessing elements of dict

- you can access elements of `dict` using key

In [20]:
student = {100: ["prashant", 30.50, 100], 200: ["rahul", 40, 60]}

student[100]

['prashant', 30.5, 100]

In [21]:
student = {100: ["prashant", 30.50, 100], 200: ["rahul", 40, 60]}

student[200]

['rahul', 40, 60]

In [22]:
languages = {
    "high_level": ["python", "java"],
    "low_level": ["assembly", "c"]
}

languages["high_level"]

['python', 'java']

In [23]:
languages = {
    "high_level": ["python", "java"],
    "low_level": ["assembly", "c"]
}

languages["low_level"]

['assembly', 'c']

In [ ]:
match_scores = {"virat": 100, "hardik": 50, "dhoni": 90}

print(match_scores["dhoni"])

print(match_scores["hardik"])

In [28]:
languages = {
    "high_level": ["python", "java"],
    "low_level": ["assembly", "c"]
}

result = languages["high_level"]
result[0]
result[1]

list

In [32]:
virat_scores = {
    "world_cup": 300,
    "asia_cup": 400,
    "IPL": 600
}

print(type(virat_scores))  # `virat_scores` is an object of class `dict`

dhoni_scores = {
    "world_cup": 700,
    "asia_cup": 500,
    "IPL": 900
}

print(type(dhoni_scores)) # `dhoni_scores` is an object of class `dict`


# `cricketer` is a `dict` where keys are `str` and values are `dict`

cricketer = {"virat": virat_scores, "dhoni": dhoni_scores}

cricketer["dhoni"]["asia_cup"]

cricketer["virat"]["IPL"]

<class 'dict'>
<class 'dict'>

600

In [34]:
mumbai = {
    "population": "1 cr",
    "area": "40 sqkm",
    "mayor": "abc"
}

pune = {
    "population": "0.7 cr",
    "area": "30 sqkm",
    "mayor": "xyz"
}

city_data = {"capital city": mumbai, "education hub": pune}

city_data["capital city"]["area"]

{'population': '1 cr', 'area': '40 sqkm', 'mayor': 'abc'}
{'population': '0.7 cr', 'area': '30 sqkm', 'mayor': 'xyz'}

In [36]:
mumbai = {
    "population": "1 cr",
    "area": "40 sqkm",
    "mayor": "abc",
    "suburbs": ["andheri", "dadar", "ghatkopar"]
}

pune = {
    "population": "0.7 cr",
    "area": "30 sqkm",
    "mayor": "xyz",
    "suburbs": ["kothrud", "wakad", "shivajinagar", "warje"]
}

city_data = {"capital city": mumbai, "education hub": pune}

result1 = city_data["education hub"]["suburbs"][-1]
result2 = city_data["education hub"]["suburbs"][3]

print(result1)
print(result2)

warje
warje

In [37]:
virat_scores = {
    "world_cup": 300,
    "asia_cup": 400,
    "IPL": 600
}


virat_scores["ashes"]

KeyError: 'ashes'

### how to create dictionary from list of tuple?

In [40]:
foo = [
    ("education", "pune"),
    ("capital", "mumbai"),
    ("historical", "satara")
]

type(foo)

list

In [41]:
# you can convert list of tuples (where tuple is having 2 elements) into dict

MH_data = dict(foo)

MH_data

{'education': 'pune', 'capital': 'mumbai', 'historical': 'satara'}

### how to create dictionary using key value pairs?

In [42]:
states = dict(MH="mumbai", KA="bengaluru", GOA="Panji")

print(states)
type(states)

{'MH': 'mumbai', 'KA': 'bengaluru', 'GOA': 'Panji'}

dict