In [2]:
languages = ["python", "sql", "javascript", "ruby", "c++"]
languages[5]

IndexError: list index out of range

# `IndexError`

We need a Python loop such as we will stop accessing index value that is not present in list

In [4]:
languages = ["python", "sql", "javascript", "ruby", "c++"]

i = 0 

while i < len(languages):
    print(languages[i])
    i += 1

python
sql
javascript
ruby
c++

In [7]:
greeting = "Hello world!"
           #01234

print(greeting["h"])

TypeError: string indices must be integers

`TypeError`

In [8]:
list(1234)

TypeError: 'int' object is not iterable

# `TypeError`


When data is incompatible to perform certain operation

In [20]:
names = ["Rahul", "hardik", "dhoni"]

player1, player2, player3 = names

print(player1)
print(player2)
print(player3)

Rahul
hardik
dhoni

In [21]:
names = ("Rahul", "hardik", "dhoni")

player1, player2, player3 = names

print(player1)
print(player2)
print(player3)

Rahul
hardik
dhoni

In [19]:
player1, player2 = "PR"
print(player1)
print(player2)

P
R

# `NameError`

When you are using any undefined identifier without defining it.


#### Identifiers

- variable names
- function names
- class names
- module names

In [22]:
name = "rahul"
print(age)

NameError: name 'age' is not defined

In [23]:
print(foo)

NameError: name 'foo' is not defined

# `SyntaxError`

In [24]:
abc = True
if abc
    print("hello world")

SyntaxError: expected ':' (1771780746.py, line 2)

In [26]:
foo = "prashant"

foo[0:500]  # specifying the range

'prashant'

In [27]:
foo[500]  # accessing element

IndexError: string index out of range

# `KeyError`

when key is not present in `dict` object

In [28]:
virat_scores = {
    "world_cup": 300,
    "asia_cup": 400,
    "IPL": 600
}


virat_scores["ashes"]

KeyError: 'ashes'

In [29]:
student = {100: "prashant", "200": "hardik"}
student[500]

KeyError: 500

In [30]:
student = {100: "prashant", "200": None}
student[500]

KeyError: 500