In [1]:
employees=[
  {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 23,
    'country': 'India',
    'is_marred': True,
    'skills': [
      'JavaScript',
      'golang',
      'Node'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Rahul',
    'last_name': 'Dravid',
    'age': 56,
    'country': 'Pakistan',
    'is_marred': False,
    'skills': [
      'C#',
      'React',
      'Angular',
      'MongoDB',
      'Python'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Virat',
    'last_name': 'Kohli',
    'age': 67,
    'country': 'Finland',
    'is_marred': True,
    'skills': [
      'JavaScript',
      'React',
      'Node',
      'MongoDB',
      'Python'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Hardik',
    'last_name': 'Pandya',
    'age': 43,
    'country': 'USA',
    'is_marred': True,
    'skills': [
      'JavaScript',
      'Azure',
      'Snowflake',
      'MongoDB'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Mohammad',
    'last_name': 'Shami',
    'age': 31,
    'country': 'England',
    'is_marred': False,
    'skills': [
      'AWS',
      'GCP',
      'Node',
      'MongoDB',
      'Python'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  }
]

### first and last name of employees who's skill is `python`

In [19]:
def get_employee_names(data, skill):   # func def starts here
    for emp in data:
        if skill in emp.get("skills"):
            print(emp.get("first_name"), emp.get("last_name"))  # func ends

get_employee_names(employees, "Python")

TypeError: get_employee_names() takes 2 positional arguments but 3 were given

In [10]:
### area of circle

# function definition
def circle_area(radius):
    result = 3.14 * (radius ** 2)
    return result
    

# function call
final = circle_area(10)  
final

314.0

In [16]:
### area of circle

# function definition
def circle_area(radius, void):
    result = 3.14 * (radius ** 2)
    if not void:
        return result
    else:
        print(f"print statement - {result}")
    

# function call
final = circle_area(10)  
final

TypeError: circle_area() missing 1 required positional argument: 'void'

In [8]:
# function definition
def circle_area():
    radius = int(input("Please enter radius :: "))
    result = 3.14 * (radius ** 2)
    print(result)
    
    
circle_area()

Please enter radius ::  10

314.0

In [22]:
def calculate_interest(principal, tenure, rate):
    result = (principal * tenure * rate) / 100
    return result

calculate_interest(100000, 12, 4)

48000.0

### 2 Types of parameters

- Positional parameters
- Keyword parameters




Rules of function call based on types of parameters -

- In case of Positional parameters
    - The order of arguments (in function call) should match with order of parameters (in function def)
    - The number of arguments should match number of parameters
    - arguments in function call are un-packed into parameters in function definition
    
- In case of Keyword parameters
    - We pass key and value in function definition 
    - keywords parameters are always after positional parameters
    - you can call function with keyword parameters as positional arguments ( while calling function ) 
    - you can set default value against parameters

In [23]:
def greeting(name):
    print(f"Good morning, {name}!")
    
greeting("prashant")

good morning, prashant

### function with default parameter

In [25]:
def greeting(name="world"):
    print(f"Good morning, {name}!")

Good morning, prashant!

In [26]:
greeting()

Good morning, world!

In [27]:
def greeting(msg, name="world"):
    print(f"{msg}, {name}!")

Hello, world!

In [28]:
greeting("Hello")

Hello, world!

In [29]:
greeting("Hello", "Prashant")

Hello, Prashant!

In [30]:
def greeting(msg, name="world"):
    print(f"{msg}, {name}!")

SyntaxError: non-default argument follows default argument (1072560601.py, line 1)

In [31]:
def circle_area(radius, pie=3.14):
    return pie * radius ** 2

circle_area(10)

314.0

In [33]:
def get_employee_names(data, skill, default="No employee found"):   # func def starts here
    output = []
    for emp in data:
        if skill in emp.get("skills"):
            full_name = emp.get("first_name"), emp.get("last_name")
            output.append(" ".join(full_name))
    if len(output):
        return output
    return default

'No employee found'

In [34]:
get_employee_names(employees, "Cloud")

'No employee found'

In [35]:
get_employee_names(employees, "Python")

['Rahul Dravid', 'Virat Kohli', 'Mohammad Shami']

In [36]:
keys_ = ['Rahul Dravid', 'Virat Kohli', 'Mohammad Shami']
latest = dict.fromkeys(keys_, None)
latest

{'Rahul Dravid': None, 'Virat Kohli': None, 'Mohammad Shami': None}

In [37]:
output = {}
for key_, val_ in latest.items():
    output[val_] = key_
    
print(output)

{None: 'Mohammad Shami'}

### only keyword arguments

In [38]:
def greeting(msg="Good morning", name="world!"):
    return msg + " " + name

In [39]:
greeting()

'Good morning world!'

In [40]:
greeting(msg="Good evening")

'Good evening world!'

In [41]:
greeting(name="prashant")

'Good morning prashant'

In [42]:
greeting(msg="Good afternoon", name="Rahul")

'Good afternoon Rahul'

In [44]:
greeting(name="Hardik", msg="Good night!!")

'Good night!! Hardik'

In [43]:
greeting("greetings", "sachin")

'greetings sachin'

## concept of namespace

- variables used in function definition are only available within function definition `scope`

In [46]:
def greeting(msg="Good morning", name="world!"):
    random = "random value"
    return msg + " " + name

print(random)

NameError: name 'random' is not defined

In [48]:
def greeting(msg="Good morning", name="world!"):
    print(msg)
    print(name)
    

greeting(msg="my custom greeting msg", name="my name goes here")
`

my custom greeting msg
my name goes here

## default value is only evaluated once
#### if we are using mutable objects as default parameter, function may behave differently

In [54]:
def produce_list(item, list_=[]):
    list_.append(item)
    return list_

In [73]:
output = produce_list(10)
output

## [10]

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [74]:
def produce_list(item, list_=None):
    if list_ is None:
        list_ = []
    list_.append(item)
    return list_

In [104]:
produce_list(10)

[10]