### `in` operator on list objects

In [ ]:
singers = ["arjit", "shriya", "rehman"]

singer = "arjit"

singer in singers

### `not in` operator

In [ ]:
singers = ["arjit", "shriya", "rehman"]

actor = "xyz"

actor not in singers

###  `len()` function

In [ ]:
singers = ["arjit", "shriya", "rehman"]
len(singers)

### `max()` function

In [1]:
foo = [1341, 4526, 585, 1431, 579670, 1341]
max(foo)

579670

In [2]:
bar = ["b", "c", "prashant"]
max(bar)

'prashant'

In [3]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

### `min()` function

In [ ]:
bar = [1341, 4526, 585, 1431, 579670, 1341]
min(bar)

### `sum()` function

In [ ]:
foo = [1, 2, 3, 4, 5, 6]
sum(foo)

#### Relational operators

In [ ]:
bool("")  # empty string is considered as `False`

In [ ]:
bool([]) # empty list is also considered as `False`

In [ ]:
result = bool([1, 2])
type(result) # `result` is an object of class `bool`

In [ ]:
bool(0)

### `any()` 

Tells us if any of the value in a given is `True`

In [ ]:
random = [[], "", False, 100]
any(random)

In [ ]:
random = [[], "", False, 0]
any(random)

### `all()`

Tells us if all of the values in a given list are True

In [ ]:
example1 = [[1, 2], 100, 30.20, True, "prashant"]
all(example1)

In [ ]:
example2 = ["", 100, 30.20, True, "prashant"]
all(example2)

`sort()`

In [ ]:
example3 = [80, 90, 20, 10, 50]
example3.sort()  # ascending
example3

In [ ]:
example3 = [80, 90, 20, 10, 50]
example3.sort(reverse=True)  # descending
example3

### `sorted()` function

- function returns a `list` object
- function is return type function
- by default gives output in ascending order
- we can change default behaviour by passing additional argument as follows-

`reverse=True`

In [ ]:
example3 = [80, 90, 20, 10, 50]
result = sorted(example3)  # ascending by default
type(result)  # `result` is an object of class `list`

In [ ]:
example4 = [80, 90, 20, 10, 50]
result = sorted(example4, reverse=True) # changing default behaviour
result  # `result` is an object of class `list`

In [ ]:
example3  # your original objects are intact in sorted function

In [ ]:
example4 # your original objects are intact in sorted function

### `in built` funcs we learned today

- len()
- max()
- min()
- sum()
- all()
- any()
- sorted()

## interview quesiton

`sort` vs `sorted`

### slicing

[start: end: step]

### indexing

singers = ["arjit", "shriya", "rehman"]

         #.  0.         1.       2

##  `stack` implementation using `list` functions

LIFO :: Last In First Out

- append()
- pop()

## `Queue` implementation using `list` functions

üçø movie ticket window ::  "virat", "hardik", "rahul", "sachin"


FIFO : First In First Out


- append()
- pop(0)

In [ ]:
# Bank application

cashier = ["virat", "hardik", "rahul", "sachin"]

cashier.append("dhoni")  # to add new member to queue at last

cashier.pop(0)  # to remove member from queue

In [ ]:
cashier

### `Operators` on  `str` object

#### string concatenation

In [ ]:
str1 = "prashant"
str2 = " "
str3 = "is"
str4 = " "
str5 = "indian"

output = str1 + str2 + str3 + str4 + str5
output

In [ ]:
## problem statement
# similar statement like above using `str1`, `str3`, `str5`

In [ ]:
" ".join([str1, str3, str5])

#### string multiplication

In [ ]:
result = "prashant-" * 5
result

In [ ]:
result.split("-")

## `operators` on `list` objects

`+` operator is not alternative of `extend()` function

In [ ]:
foo = [1, 2, 3]
bar = [4, 5, 6]

result = foo + bar
result

In [ ]:
foo

In [ ]:
bar

`+=` : short-hand operator is alternative of `extend` function

In [ ]:
foo = [1, 2, 3]
bar = [4, 5, 6]

foo += bar

In [ ]:
foo

In [ ]:
foo

### `*` operator on `list`

In [ ]:
foo = [10, 20, 30] * 3

In [ ]:
foo

In [ ]:
team = ["virat", "rohit", "dhoni"]
team[1]

### modifying an existing list

In [ ]:
team[1] = "hardik"
team

# Nested list

In [ ]:
# application for `crickbuzz`

cricketers = [["virat", 100], ["rohit", 200], ["hardik", 50], ["dhoni", 60], ["ashwin", 0]]

### acccessing elements in nested list

In [ ]:
cricketers[1][1]

In [ ]:
cricketers[3][1]

### acccessing elements in nested list

In [ ]:
# assume dhoni hits six

cricketers[3][1] = cricketers[3][1] + 6
cricketers

In [ ]:
# assume dhoni hits six (manual)

cricketers[3][1] = 66
cricketers

In [ ]:
# assume dhoni hits six

cricketers[3][1] += 6
cricketers

In [ ]:
# replace `dhoni` with `raina`

cricketers[3][0] = "raina"

In [ ]:
cricketers

#### Nesting multiple levels

In [ ]:
world_cup = ["virat", 100]
asia_cup = ["virat", 120]
ashes = ["virat", 300]

tournaments = [world_cup, asia_cup, ashes]

cricketers = [tournaments, ["virat", 100], ["rohit", 200], ["hardik", 50]]

In [ ]:
cricketers

In [ ]:
cricketers[0][1][1]

In [ ]:
countries = ["india", "usa"]
india_states = ["MH", "KA"]
mh_cities = ["pune", "mumbai"]


world = [countries, india_states, mh_cities]

In [ ]:
world[1][1]

In [ ]:
world[2][1]

### type casting using `list` function

In [ ]:
vowels = "aeiou"
list(vowels)

In [ ]:
nums = "123456"
list(nums)

In [ ]:
vowels = ["aeiou"]
vowels

In [ ]:
input("enter value: ")

In [ ]:
print("hello world")

In [ ]:
bar = ['a', 'e', 'i', 'o', 'u']
bar.count("a")

In [ ]:
dir([])

#  features of list

- list is an ordered data structure
- we can access elements of list using indexing
- list collection of heterogeneous elements
- list is mutable

## mutable

- We can change the object