In [3]:
naturals = list(range(1, 11))
naturals

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
result = []

for number in naturals:
    result.append(number * number)
    
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List comprehension

In [5]:
[number * number for number in naturals]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- `list comprehension` is a single line for-loop
- its a way of converting multi line for loop into elegant single line code

NOTE  - use `list comprehension`  as long as your code is `readable`

syntax

```
[<expression> for <iterator-variable> in <sequence>]

```

```
[<expression> for <iterator-variable> in <sequence> if <condition>]
```

### perform cube of each number in a given list

In [6]:
foo = [2, 3, 4, 5, 6]

result = []
for i in foo:
    result.append(i**3)
    
print(result)

[8, 27, 64, 125, 216]

In [7]:
[i**3 for i in foo]

[8, 27, 64, 125, 216]

In [8]:
indian = ["dhoni", "virat", "hardik"]


final = []
for player in indian:
    final.append(player.capitalize())
    
print(final)

['Dhoni', 'Virat', 'Hardik']

In [9]:
[player.capitalize() for player in indian]

['Dhoni', 'Virat', 'Hardik']

## to find odd numbers

In [12]:
naturals = list(range(1, 11))

odds = []
for number in naturals:
    if number % 2 != 0:
        odds.append(number)
        
print(odds)

[1, 3, 5, 7, 9]

In [13]:
[number for number in naturals if number % 2 != 0]

[1, 3, 5, 7, 9]

## to find even numbers

In [15]:
naturals = list(range(1, 11))

evens = []

for number in naturals:
    if number % 2 == 0:
        evens.append(number)
        
print(evens)

[2, 4, 6, 8, 10]

In [16]:
[number for number in naturals if number % 2 == 0]

[2, 4, 6, 8, 10]

# Ternary operator

- single line `if-else` statement
- we must write `else` block if we are using ternary operator

syntax 

```
<expression 1> if <condition> else <expression 2>
```

In [18]:
naturals = list(range(1, 11))

result = []
for number in naturals:
    if number % 2 == 0:
        result.append(f"{number} even")
    else:
        result.append(f"{number} odd")
        
print(result)

['1 odd', '2 even', '3 odd', '4 even', '5 odd', '6 even', '7 odd', '8 even', '9 odd', '10 even']

In [19]:
naturals = list(range(1, 11))

result = []
for number in naturals:
    result.append(f"{number} even") if number % 2 == 0 else result.append(f"{number} odd")
        
print(result)

['1 odd', '2 even', '3 odd', '4 even', '5 odd', '6 even', '7 odd', '8 even', '9 odd', '10 even']

In [21]:
number = int(input("Please enter number: "))

result = "even" if number % 2 == 0 else "odd"

print(result)

Please enter number: 11
odd

In [22]:
number = int(input("Please enter number: "))

if number % 2 == 0:
    result = "even"
else:
    result = "odd"

print(result)

Please enter number: 10
even

In [24]:
number = int(input("Please enter number: "))

result = "even" if number % 2 == 0 else "odd"

print(result)

Please enter number: 10
even

In [28]:
naturals = list(range(1, 11))


[f"{number} even" if number % 2 == 0 else f"{number} odd" for number in naturals]

['1 odd',
 '2 even',
 '3 odd',
 '4 even',
 '5 odd',
 '6 even',
 '7 odd',
 '8 even',
 '9 odd',
 '10 even']

In [29]:
naturals = list(range(1, 11))

result = []
for number in naturals:
    result.append(f"{number} even") if number % 2 == 0 else result.append(f"{number} odd")
        
print(result)

['1 odd', '2 even', '3 odd', '4 even', '5 odd', '6 even', '7 odd', '8 even', '9 odd', '10 even']

### number is divisible by 5 or not

In [34]:
sample = [20, 40, 56, 90, 5, 81]

output = []
for element in sample:
    if element % 5 == 0:
        print(f"{element} (divisible)")
        output.append(f"{element} (divisible)")
    else:
        print(f"{element} (not divisible)")
        output.append(f"{element} (not divisible)")

print()
print(output)

20 (divisible)
40 (divisible)
56 (not divisible)
90 (divisible)
5 (divisible)
81 (not divisible)

['20 (divisible)', '40 (divisible)', '56 (not divisible)', '90 (divisible)', '5 (divisible)', '81 (not divisible)']

In [37]:
[
    f"{element} (divisible)" if element % 5 == 0 else f"{element} (not divisible)"
    for element in sample
]

['20 (divisible)',
 '40 (divisible)',
 '56 (not divisible)',
 '90 (divisible)',
 '5 (divisible)',
 '81 (not divisible)']

In [40]:
scores = ["virat 100", "sachin 100", "hardik 50", "dhoni 60"]

award = "MoM"
output = []

for score in scores:
    name = score.split()[0]
    
    if "100" in score:
        output.append(name + " " + award)
        
    else:
        output.append(name)
        
print(output)

['virat MoM', 'sachin MoM', 'hardik', 'dhoni']

In [42]:
[ score.split()[0] + " " + "MoM" if "100" in score else score.split()[0] for score in scores]

['virat MoM', 'sachin MoM', 'hardik', 'dhoni']

In [44]:
output = []

for score in scores:
    result = score.split()[0] + " " + "MoM" if "100" in score else score.split()[0]
    output.append(result)
    
    
print(output)

['virat MoM', 'sachin MoM', 'hardik', 'dhoni']

### perform square only if number is even and replace odd numbers with `None`

In [47]:
example = list(range(1, 11))

output = []

for i in example:
    
    if i % 2 == 0:
        output.append(i**2)
        
    else:
        output.append(None)
        
print(output)

[None, 4, None, 16, None, 36, None, 64, None, 100]

In [48]:
[i**2 if i % 2 == 0 else None for i in example]

[None, 4, None, 16, None, 36, None, 64, None, 100]

In [49]:
[i**2 for i in example if i % 2 == 0]

[4, 16, 36, 64, 100]

# `zip()` function

- takes 2 arguments (both iterables)
- works only when you've equal sized list
- it pairs element from first list with respectively positioned element from second list
- returns an iterable

In [53]:
batters = ["virat", "hardik", "dhoni", "raina"]
scores = [100, 200, 50, 40]


result = zip(batters, scores)
type(result) # `result` is an object of class `zip`

list(result)

[('virat', 100), ('hardik', 200), ('dhoni', 50), ('raina', 40)]

In [54]:
batters = ["virat", "hardik", "dhoni", "raina"]
scores = [100, 200, 50, 40]

for batter, score in zip(batters, scores):
    print(batter, score)

virat 100
hardik 200
dhoni 50
raina 40

In [57]:
# swap keys with values and values with keys

match_result = {"virat": 100, "hardik": 200, "dhoni": 50, "raina": 40}

output = {}

for key_, val_ in match_result.items():
    output[val_] = key_
    
print(output)

{100: 'virat', 200: 'hardik', 50: 'dhoni', 40: 'raina'}

# nested list-comprehension

In [58]:
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
[i**2 for i in [x**2 for x in range(1, 11)]]

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [60]:
[z**2 for z in [i**2 for i in [x**2 for x in range(1, 11)]]]

[1, 256, 6561, 65536, 390625, 1679616, 5764801, 16777216, 43046721, 100000000]