In [3]:
employees=[
  {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 23,
    'country': 'India',
    'is_marred': True,
    'skills': [
      'JavaScript',
      'golang',
      'Node'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Rahul',
    'last_name': 'Dravid',
    'age': 56,
    'country': 'Pakistan',
    'is_marred': False,
    'skills': [
      'C#',
      'React',
      'Angular',
      'MongoDB',
      'Python'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Virat',
    'last_name': 'Kohli',
    'age': 67,
    'country': 'Finland',
    'is_marred': True,
    'skills': [
      'JavaScript',
      'React',
      'Node',
      'MongoDB',
      'Python'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Hardik',
    'last_name': 'Pandya',
    'age': 43,
    'country': 'USA',
    'is_marred': True,
    'skills': [
      'JavaScript',
      'Azure',
      'Snowflake',
      'MongoDB'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  },
  {
    'first_name': 'Mohammad',
    'last_name': 'Shami',
    'age': 31,
    'country': 'England',
    'is_marred': False,
    'skills': [
      'AWS',
      'GCP',
      'Node',
      'MongoDB',
      'Python'
    ],
    'address': {
      'street': 'Space street',
      'zipcode': '02210'
    }
  }
]

Print the name of employees who have python as skill in the form first_name
last_name

In [4]:
len(employees)

5

In [5]:
first = employees[0]

In [20]:
# iterate on employee data

python_devs = []
for employee in employees:
    
    if "python".capitalize() in employee.get("skills"):
        full_name = " ".join([employee.get("first_name"), employee.get("last_name")])
        python_devs.append(full_name)
        
[print(name_) for name_ in python_devs]

Rahul Dravid
Virat Kohli
Mohammad Shami

[None, None, None]

In [23]:
for employee in employees:
    skill_set = employee.get("skills")
    if "Python" in skill_set:
        full_name = employee.get("first_name"), employee.get("last_name")
        full_name = " ".join(full_name)
        print(full_name)

Rahul Dravid
Virat Kohli
Mohammad Shami

In [22]:
sample = "prashant", "abc"

"---------".join(sample)

'prashant---------abc'

In [25]:
for i in employees:
    if "Python" in i["skills"]:
        print(i["first_name"],i["last_name"])

Rahul Dravid
Virat Kohli
Mohammad Shami