- Tuple
- mutable data types vs immmutable data tpes
- tuple functions
- tuple packing and tuple unpacking

In [10]:
foo = ["virat", "hardik", "dhoni"]
type(foo)

list

In [12]:
foo = "virat", "hardik", "dhoni"
type(foo)

tuple

'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## what is `tuple`?


- `tuple` is immutable data type that is collection of hetegeneous elements and seperated by comma

## How to create a `tuple`?

In [3]:
# how to create an empty tuple? (option 1)

foo = tuple()
type(foo) # `foo` is an object of class `tuple`

tuple

In [4]:
# how to create an empty tuple? (option 2)

foo = ("virat", "hardik", "dhoni")
type(foo)

tuple

In [6]:
# how to create an empty tuple? (option 3)

bar = "virat", "hardik", "dhoni"
type(bar)

tuple

##### survival functions
- type()
- help()
- dir()

In [ ]:
dir(tuple())

In [13]:
example = tuple()
dir(example)   # attributes of tuple

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [19]:
foo = ()
type(foo)

tuple

## functions of `tuple`

'count',
 'index'

In [16]:
foo = tuple()
help(foo.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [17]:
foo = ("mumbai", "pune", "mumbai", "delhi", 100, "mumbai", True, False)
foo.count("mumbai")

3

In [18]:
bar = (100, 200, 300, 400, True, False, "Prashant")
     #. 0.   1.   2.   3.   4.    5.      6
bar.index(True)`

4

nested tuple

In [21]:
random = (tuple(), 100, 200, 300)
type(random)

type(random[0])

tuple

### how to access elements of tuple?

In [22]:
random = (tuple(), 100, 200, 300)

bar = random[0]
type(bar)

tuple

In [25]:
random = (("foo", "bar"), 100, 200, 300)

bar = random[0][1]
bar

'bar'

## what is diff between list and tuple?

## Immutable objects

- objects that cannot be changed

## Mutable objects

- objects that can be changed

## What are use cases of tuple over list?

- tuple is faster
- sometimes we might an object that is `immutable`

In [ ]:
transaction = ("saving_account_number", "balance")

### when we have a list inside a tuple?

In [26]:
foo = (1, 2, 3, ["prashnat", "dhoni"])
foo[3].clear()
foo

(1, 2, 3, [])

In [32]:
bar = [100, 200, 300]
bar[0] = 500
bar

[500, 200, 300]

In [33]:
bar = (100, 200, 300)
bar[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [38]:
example = ([1],)
type(example)

tuple

In [40]:
example = (1,)
type(example)

tuple

["prashant"]["rahul"]    <= list    <= tuple
                         <= list

In [45]:
example1 = (["prashant", "rahul"],)
example1[0].clear()
example1

([],)

In [46]:
# immutable
example2 = (["prashant", "rahul"],)
example2[0] = []
example2

TypeError: 'tuple' object does not support item assignment

basic data types

- int
- float
- bool
- string
- None

In [28]:
"ppppp".replace("p", "x")

'xxxxx'

In [31]:
original = "ppppp"
result = original.replace("p", "x")
print(result)
print(original)

xxxxx
ppppp

In [49]:
name = "prashant"
name[0] = "ABC"
name

TypeError: 'str' object does not support item assignment

In [50]:
name = "python" + "velocity"
name

'pythonvelocity'

In [54]:
insti = "velocity"
result = insti.upper()
insti

'velocity'

In [53]:
help("".upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [57]:
a = "something string"
b = "again kaitari"
a = a + b  # re-label
a

'something stringagain kaitari'

In [59]:
foo = (1, 2)   # [object] 
print(id(foo))
foo = (1, 2, 3)  # [diff object]   <= foo
print(id(foo))

4442310528
4442320320

## type casting with tuple

In [61]:
example = ["prashant", "rahul"]
new_obj = tuple(example)
print(new_obj)
type(new_obj)

('prashant', 'rahul')

tuple

In [62]:
example = ("prashant", "rahul")
new_obj = list(example)
print(new_obj)
type(new_obj)

['prashant', 'rahul']

list

In [63]:
example = ("prashant", "rahul")
str(example)

"('prashant', 'rahul')"

In [65]:
example = ("prashant", "rahul")
bar = str(example)
bar[0]

'('

In [67]:
languages = ("python", "java", "ruby")
languages[0] = "javascript"

TypeError: 'tuple' object does not support item assignment

In [69]:
languages = ("python", "java", "ruby")
my_languages = list(languages)
my_languages[0] = "javascript"
my_languages

['javascript', 'java', 'ruby']