In [1]:
foo = ["prashant", "sachin", "dhoni"]

## for loops

- definite loop
- collection controlled loop


Python syntax

```
for <iterator-variable> in <sequence>:
    <statement1>
    <statement2>
    ...
    <statementn>
    
else:
    print("whenever loop ends normally (without break)")

```

Java/CPP for loop syntax

```
for (i=0; i < 100; i--) {
    # for loop logic
}
```

#### iterating on list using for loop

In [6]:
foo = ["prashant", "sachin", "dhoni"]

for i in foo:
    print(i)
else:
    print("whenever loop ends normally (without break)")

prashant
sachin
dhoni
whenever loop ends normally (without break)

#### iterating on string using for loop

In [7]:

for char in "prashant":
    print(char, end = " ")

p r a s h a n t

In [5]:

for char in "prashant":
    print(char)

p
r
a
s
h
a
n
t

#### iterating on tuple using for loop

In [8]:
foo = ("prashant", "sachin", "dhoni")

for i in foo:
    print(i)
else:
    print("whenever loop ends normally (without break)")

prashant
sachin
dhoni
whenever loop ends normally (without break)

In [11]:
cricketers = {"virat": 100, "hardik": 40, "dhoni": 90}

result = cricketers.items()
type(result) # result is an object of class `dict_items`

result

dict_items([('virat', 100), ('hardik', 40), ('dhoni', 90)])

## iterating on dict using for loop

In [12]:
cricketers = {"virat": 100, "hardik": 40, "dhoni": 90}

for key_, val_ in cricketers.items():
    print(key_)
    print(val_)
    print()

virat
100

hardik
40

dhoni
90

In [13]:
cricketers = {"virat": 100, "hardik": 40, "dhoni": 90}

for pair in cricketers.items():
    print(pair)

('virat', 100)
('hardik', 40)
('dhoni', 90)

In [ ]:
pair = ('virat', 100)

key_, val_ = pair

## iterating on set using for loop

In [14]:
foo = {1, 2, 3, 4}
for i in foo:
    print(i)

1
2
3
4

# There 2 kinds for loops

- collection type data stucture 
- iterator object

# `range()` function


- `range(start, stop, step)`
- `start` is inclusive (by default 0)
- `stop` is exclusive (must argument)
- `step` is optional argument
- range function returns an `iterator` object
- `iterator` objects are objects on which we can apply `for-loop`

In [19]:
obj = range(1, 11, 2)
type(obj) # `obj` is an object of class `range`

range

In [90]:
for i in range(5):
    print(i)

0
1
2
3
4

In [91]:
list(range(5))

[0, 1, 2, 3, 4]

#### type casting range object in list

In [23]:
obj = range(1, 11, 2)

output = list(obj) # type casting range object in list

print(type(output))
print(output)

<class 'list'>
[1, 3, 5, 7, 9]

In [18]:
for element in obj:
    print(element)

1
3
5
7
9

In [25]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
list(range(1, 11, 3))

[1, 4, 7, 10]

# `enumerate()` function

- enumerate(iterable, start)
- returns an iterable
- we can iterate on value returned by `enumerate()` function

In [62]:
brands = ("apple", "mi", "vivo", "samsung", "oneplus")

for i, brand_name in enumerate(brands, 10):
    print(i)
    print(brand_name)
    print()

10
apple

11
mi

12
vivo

13
samsung

14
oneplus

In [61]:
brands = ["apple", "mi", "vivo", "samsung", "oneplus"]

for i, brand_name in enumerate(brands, 10):
    print(i)
    print(brand_name)
    print()

10
apple

11
mi

12
vivo

13
samsung

14
oneplus

In [28]:
languages = ["python", "java", "javascript", "c", "cpp"]

for lang in languages:
    print(lang)

python
java
javascript
c
cpp

In [31]:
languages = ["python", "java", "javascript", "c", "cpp"]

result = enumerate(languages)
type(result) # `result` is an object of class `enumerate`


for item in result:
    print(item)

(0, 'python')
(1, 'java')
(2, 'javascript')
(3, 'c')
(4, 'cpp')

In [32]:
languages = ["python", "java", "javascript", "c", "cpp"]

result = enumerate(languages)
type(result) # `result` is an object of class `enumerate`


for index_, value_ in result:
    print(index_)
    print(value_)
    print()

0
python

1
java

2
javascript

3
c

4
cpp

In [35]:
foo = list(range(100, 110))
foo

for index_, value_ in enumerate(foo):
    print(index_, value_)

0 100
1 101
2 102
3 103
4 104
5 105
6 106
7 107
8 108
9 109

In [39]:
cities = ["mumbai", "delhi", "pune", "nashik"]

for index_, value_ in enumerate(cities):
    print(index_, value_.capitalize())

0 Mumbai
1 Delhi
2 Pune
3 Nashik

In [40]:
cities = {
    "mumbai": "10M", "Pune": "7M",
    "Nashik": "1M", "Latur": "0.5M"
}

cities.keys()

dict_keys(['mumbai', 'Pune', 'Nashik', 'Latur'])

In [41]:
cities = {
    "mumbai": "10M", "Pune": "7M",
    "Nashik": "1M", "Latur": "0.5M"
}

for city_names in cities.keys():
    print(city_names)

mumbai
Pune
Nashik
Latur

In [43]:
cities = {
    "mumbai": "10M", "Pune": "7M",
    "Nashik": "1M", "Latur": "0.5M"
}

for city_name in cities.values():
    print(city_name)

10M
7M
1M
0.5M

In [55]:
cities = {
    "mumbai": "10M", "Pune": "7M",
    "Nashik": "1M", "Latur": "0.5M"
}

for city_name, population in cities.items():
    print(f"{city_name} => {population}")

mumbai => 10M
Pune => 7M
Nashik => 1M
Latur => 0.5M

In [64]:
employee_database = {
    
    "accenture": {
        "python": 100,
        "java": 200,
        "cpp": 50
    },
    
    "tata motors": {
        "suv": 100,
        "sedan": 50
    }
}

keys_ = employee_database.keys()
print(keys_)
values_ = employee_database.values()
print(values_)

dict_keys(['accenture', 'tata motors'])
dict_values([{'python': 100, 'java': 200, 'cpp': 50}, {'suv': 100, 'sedan': 50}])

In [65]:
for key in keys_:
    print(key)

accenture
tata motors

In [66]:
for value in values_:
    print(value)

{'python': 100, 'java': 200, 'cpp': 50}
{'suv': 100, 'sedan': 50}

In [67]:
employee_database.items()

dict_items([('accenture', {'python': 100, 'java': 200, 'cpp': 50}), ('tata motors', {'suv': 100, 'sedan': 50})])

In [72]:
for key_, val_ in employee_database.items():
    print(key_)
    for inner_key, inner_val in val_.items():
        print(f"{inner_key} => {inner_val}")
    print("###"*5)

accenture
python => 100
java => 200
cpp => 50
###############
tata motors
suv => 100
sedan => 50
###############

# nested for loop

In [75]:
### handshake

india = ["sachin", "dhoni", "chahal", "virat"]

pak = ["babar", "rizwan", "shahid"]


for indian in india:
    
    print(f"** {indian} goes for handshake **")
    
    for pakistani in pak:
        print(f"{indian} handshakes {pakistani}")
        
    print()

** sachin goes for handshake **
sachin handshakes babar
sachin handshakes rizwan
sachin handshakes shahid

** dhoni goes for handshake **
dhoni handshakes babar
dhoni handshakes rizwan
dhoni handshakes shahid

** chahal goes for handshake **
chahal handshakes babar
chahal handshakes rizwan
chahal handshakes shahid

** virat goes for handshake **
virat handshakes babar
virat handshakes rizwan
virat handshakes shahid

## `break` and `continue` statements

In [82]:
india = ["sachin", "dhoni", "chahal", "virat", "sehwag", "hardik", "krunal"]

for player in india:
    print(player)
    if player == "virat":
        break   
else:
    print("DONE")

sachin
dhoni
chahal
virat
DONE

In [77]:
india = ["sachin", "dhoni", "chahal", "virat", "sehwag", "hardik", "krunal"]

for player in india:
    print(player)

else:
    print("DONE")

sachin
dhoni
chahal
virat
sehwag
hardik
krunal
DONE

In [80]:
india = ["sachin", "dhoni", "chahal", "virat", "sehwag", "hardik", "krunal"]

for player in india:
    
    if player == "sehwag":
        continue
        
    print(f"10K to {player}")

10K to sachin
10K to dhoni
10K to chahal
10K to virat
10K to hardik
10K to krunal

## fibonacci series using `for` loop


0,    1,    1,   2,    3,     5,    8,   13,    21, .....


frst  sec

      frst  sec
      
            frst  sec

In [100]:
limit = int(input("how many elements you want? "))

first = 0
second = 1

output = []

if limit <= 0:
    print("The requested series is - ", first)
elif limit == 1:
    print(f"The requested series is - {first}, {second}")
else:
    print(f"{first} {second}", end=" ")
    for i in range(2, limit):
        next_ = first + second
        print(next_, end = " ")
        output.append(next_)
        first = second
        second = next_


print(f"\ntotal - {len(output) + 2}")

how many elements you want? 5
0 1 1 2 3
total - 5

In [92]:
range(2, 8)

range(2, 8)

In [93]:
list(range(2, 8))

[2, 3, 4, 5, 6, 7]

In [95]:
for element in range(2, 8):
    print(element)

2
3
4
5
6
7