## Iterators

In [1]:
cities = ["Pune", "Mumbai", "nashik", "Latur"]

for city in cities:
    print(city)

Pune
Mumbai
nashik
Latur

NOTE 

- `iterators` are `iterables` and not vice versa

### `iter()` in built in function

In [5]:
city_iterator = iter(cities)

type(city_iterator)
dir(city_iterator)   # internal

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [6]:
cities = ["Pune", "Mumbai", "nashik", "Latur"]
city_iterator = iter(cities)

In [11]:
next(city_iterator)

StopIteration:

## Itarable 

- objects on which we can apply for loop
- iterators are implicitly used in for loops

In [15]:
### iterable example

companies = ["accenture", "cogni", "tcs", "wipro"]

for company in companies:
    print(company)

next(companies)  # TypeError: 'list' object is not an iterator

TypeError: 'list' object is not an iterator

In [13]:
## itarator example

companies = ["accenture", "cogni", "tcs", "wipro"]

companies_iter = iter(companies)

for company in companies_iter:
    print(company)

accenture
cogni
tcs
wipro

In [16]:
names = ["Prashant", "rahul", "sachin"]
names_iter = iter(names)
names_iter

In [20]:
next(names_iter)

StopIteration:

In [21]:
natural = [1, 2, 3, 4, 5, 6]
obj = iter(natural)

In [28]:
next(obj)

StopIteration:

##### NOTE:: when iteration on all elements is done we get `StopIteration` exception

In [32]:
scores = {
    "Sachin" : 200,
    "Hardik": 50,
    "Rohit": 100
}

keys = scores.keys()

type(keys)

for key_ in keys:
    print(key_)

Sachin
Hardik
Rohit

In [36]:
scores = {
    "Sachin" : 200,
    "Hardik": 50,
    "Rohit": 100
}

keys = scores.keys()

key_iter = iter(keys)
key_iter

In [40]:
next(key_iter)

StopIteration:

### simulation of for loop internals

In [43]:
names = ["Ashwin", "Jadeja", "Sachin", "Rahul"]

names_itarator = iter(names)

while names_itarator:
    try:
        value = next(names_itarator)
        print(value)
    except StopIteration:
        break

Ashwin
Jadeja
Sachin
Rahul

NOTE - 

We can apply `iter()` function on majority of sequnetial base data types available in Python

In [48]:
foo = set([1, 2, 3, 4])

print(type(foo))

iter_obj = iter(foo)
iter_obj

<class 'set'>

In [53]:
next(iter_obj)

StopIteration:

- iter()
- next()