### `in` operator on list objects

In [ ]:
singers = ["arjit", "shriya", "rehman"]

singer = "arjit"

singer in singers

### `not in` operator

In [ ]:
singers = ["arjit", "shriya", "rehman"]

actor = "xyz"

actor not in singers

###  `len()` function

In [1]:
singers = ["arjit", "shriya", "rehman"]
len(singers)

3

### `max()` function

In [1]:
foo = [1341, 4526, 585, 1431, 579670, 1341]
max(foo)

579670

In [2]:
bar = ["b", "c", "prashant"]
max(bar)

'prashant'

In [3]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

### `min()` function

In [ ]:
bar = [1341, 4526, 585, 1431, 579670, 1341]
min(bar)

### `sum()` function

In [ ]:
foo = [1, 2, 3, 4, 5, 6]
sum(foo)

#### Relational operators

In [2]:
bool("")  # empty string is considered as `False`

False

In [3]:
bool([]) # empty list is also considered as `False`

False

In [1]:
result = bool([1, 2])
print(result) # `result` is an object of class `bool`

True

In [5]:
bool(0)

False

### `any()` 

Tells us if any of the value in a given is `True`

In [6]:
random = [[], "", False, 100]
any(random)

True

In [7]:
random = [[], "", False, 0]
any(random)

False

### `all()`

Tells us if all of the values in a given list are True

In [8]:
example1 = [[1, 2], 100, 30.20, True, "prashant"]
all(example1)

True

In [9]:
example2 = ["", 100, 30.20, True, "prashant"]
all(example2)

False

## `sort()`

In [10]:
example3 = [80, 90, 20, 10, 50]
example3.sort()  # ascending
example3

[10, 20, 50, 80, 90]

In [11]:
example3 = [80, 90, 20, 10, 50]
example3.sort(reverse=True)  # descending
example3

[90, 80, 50, 20, 10]

### `sorted()` function

- function returns a `list` object
- function is return type function
- by default gives output in ascending order
- we can change default behaviour by passing additional argument as follows-

`reverse=True`

In [ ]:
example3 = [80, 90, 20, 10, 50]
result = sorted(example3)  # ascending by default
type(result)  # `result` is an object of class `list`

In [ ]:
example4 = [80, 90, 20, 10, 50]
result = sorted(example4, reverse=True) # changing default behaviour
result  # `result` is an object of class `list`

In [ ]:
example3  # your original objects are intact in sorted function

In [ ]:
example4 # your original objects are intact in sorted function

### `in built` funcs we learned today

- len()
- max()
- min()
- sum()
- all()
- any()
- sorted()

## interview quesiton

`sort` vs `sorted`

### slicing

[start: end: step]

### indexing

singers = ["arjit", "shriya", "rehman"]

         #.  0.         1.       2

##  `stack` implementation using `list` functions

LIFO :: Last In First Out

- append()
- pop()

## `Queue` implementation using `list` functions

🍿 movie ticket window ::  "virat", "hardik", "rahul", "sachin"


FIFO : First In First Out


- append()
- pop(0)

In [12]:
# Bank application

cashier = ["virat", "hardik", "rahul", "sachin"]

cashier.append("dhoni")  # to add new member to queue at last

cashier.pop(0)  # to remove member from queue

'virat'

In [13]:
cashier

['hardik', 'rahul', 'sachin', 'dhoni']

### `Operators` on  `str` object

#### string concatenation

In [14]:
str1 = "prashant"
str2 = " "
str3 = "is"
str4 = " "
str5 = "indian"

output = str1 + str2 + str3 + str4 + str5
output

'prashant is indian'

In [15]:
## problem statement
# similar statement like above using `str1`, `str3`, `str5`

In [16]:
" ".join([str1, str3, str5])

'prashant is indian'

#### string multiplication

In [17]:
result = "prashant-" * 5
result

'prashant-prashant-prashant-prashant-prashant-'

In [18]:
result.split("-")

['prashant', 'prashant', 'prashant', 'prashant', 'prashant', '']

## `operators` on `list` objects

`+` operator is not alternative of `extend()` function

In [19]:
foo = [1, 2, 3]
bar = [4, 5, 6]

result = foo + bar
result

[1, 2, 3, 4, 5, 6]

In [20]:
foo

[1, 2, 3]

In [21]:
bar

[4, 5, 6]

`+=` : short-hand operator is alternative of `extend` function

In [22]:
foo = [1, 2, 3]
bar = [4, 5, 6]

foo += bar

In [23]:
foo

[1, 2, 3, 4, 5, 6]

In [25]:
bar

[4, 5, 6]

### `*` operator on `list`

In [26]:
foo = [10, 20, 30] * 3

In [27]:
foo

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [28]:
team = ["virat", "rohit", "dhoni"]
team[1]

'rohit'

### modifying an existing list

In [29]:
team[1] = "hardik"
team

['virat', 'hardik', 'dhoni']

# Nested list

In [30]:
# application for `crickbuzz`

cricketers = [["virat", 100], ["rohit", 200], ["hardik", 50], ["dhoni", 60], ["ashwin", 0]]

### acccessing elements in nested list

In [31]:
cricketers[1][1]

200

In [32]:
cricketers[3][1]

60

### acccessing elements in nested list

In [33]:
# assume dhoni hits six

cricketers[3][1] = cricketers[3][1] + 6
cricketers

[['virat', 100], ['rohit', 200], ['hardik', 50], ['dhoni', 66], ['ashwin', 0]]

In [34]:
# assume dhoni hits six (manual)

cricketers[3][1] = 66
cricketers

[['virat', 100], ['rohit', 200], ['hardik', 50], ['dhoni', 66], ['ashwin', 0]]

In [35]:
# assume dhoni hits six

cricketers[3][1] += 6
cricketers

[['virat', 100], ['rohit', 200], ['hardik', 50], ['dhoni', 72], ['ashwin', 0]]

In [36]:
# replace `dhoni` with `raina`

cricketers[3][0] = "raina"

In [37]:
cricketers

[['virat', 100], ['rohit', 200], ['hardik', 50], ['raina', 72], ['ashwin', 0]]

#### Nesting multiple levels

In [38]:
world_cup = ["virat", 100]
asia_cup = ["virat", 120]
ashes = ["virat", 300]

tournaments = [world_cup, asia_cup, ashes]

cricketers = [tournaments, ["virat", 100], ["rohit", 200], ["hardik", 50]]

In [39]:
cricketers

[[['virat', 100], ['virat', 120], ['virat', 300]],
 ['virat', 100],
 ['rohit', 200],
 ['hardik', 50]]

In [40]:
cricketers[0][1][1]

120

In [44]:
countries = ["india", "usa"]
india_states = ["MH", "KA"]
mh_cities = ["pune", "mumbai"]


world = [countries, india_states, mh_cities]

In [42]:
world[1][1]

'KA'

In [43]:
world[2][1]

'mumbai'

### type casting using `list` function

In [45]:
vowels = "aeiou"
list(vowels)

['a', 'e', 'i', 'o', 'u']

In [46]:
nums = "123456"
list(nums)

['1', '2', '3', '4', '5', '6']

In [47]:
vowels = ["aeiou"]
vowels

['aeiou']

In [53]:
list(input("enter value: "))

enter value: 56789

['5', '6', '7', '8', '9']

In [49]:
print("hello world")

hello world

In [50]:
bar = ['a', 'e', 'i', 'o', 'u']
bar.count("a")

1

#  features of list

- list is an ordered data structure
- we can access elements of list using indexing
- list collection of heterogeneous elements
- list is mutable

## mutable

- We can change the object