# `map()` function

- `map()` function is an example in-built of higher order function

- `map()` function takes 2 arguments.
- first is argument is `function`
- second argument is an `iterable`

- object in return from `map()` function is an iterator

In [3]:
result = map(len, ["prashant", "velocity"])


output = list(result)
print(output)

for element in result:
    print(element)

[8, 8]

In [12]:
def square(num):
    return num ** 2

foo = list(range(1, 10))

result = map(square, foo)
type(result)  # `result` is an object of class `map`

list(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### perform a check if number is `even` or `odd`

In [11]:
def check_even_odd(num):
    if num % 2 == 0:
        return "even"
    return "odd"


example = list(range(4, 14))

obj = map(check_even_odd, example)
list(obj)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [20]:
def wish(name):
    return f"Best of luck {name}"


players = ("hardik", "dhoni", "sachin")

result = map(wish, players)
list(result)

['Best of luck hardik', 'Best of luck dhoni', 'Best of luck sachin']

In [1]:
def apply(func, data):
    return func(data)

In [2]:
apply(len, {})

0

# `filter()` function

- `filter()` function takes 2 arguments
- first argument is `function`
- second argument is `iterable`
- `filter()` function is higher order function as well
- `filter()` function is similar to `map()` function but the argument function must return boolean value
- `filter()` function returns an iterator / iterable

NOTE - 

`iterator` and `iterable` are the objects on which we apply for loop OR we can type caste such objects into collection data type (tuple, list)

In [22]:
def check_even(item):
    """returns True if number is even number"""
    
    return item % 2 == 0



nums = list(range(1, 11))
evens = []

for num in nums:
    if check_even(num):
        evens.append(num)
        
print(evens)

[2, 4, 6, 8, 10]

In [25]:

nums = list(range(1, 11))

result = filter(check_even, nums)
type(result)  # `result` is an object of class `filter`

list(result)

[2, 4, 6, 8, 10]

In [13]:
example = ["Pune", "Patna", "Panji", "Mumbai", "Nashik", "Pandharpur"]

def city_with_p(city_name):
    return city_name.startswith("P")


list(filter(city_with_p, example))

['Pune', 'Patna', 'Panji', 'Pandharpur']

In [27]:
alphas = ["prashant", "xxxxx", "ppppp", "rahul", "wwwwww", "sachin"]


def contains_vowels(name):
    vowels = ["a", "e", "i", "o", "u"]
    flag = False
    
    for char in name:
        if char in vowels:
            flag = True
            break
            
    return flag


list(filter(contains_vowels, alphas))

['prashant', 'rahul', 'sachin']

In [30]:
# map


result_lc = [x**2 for x in range(1, 11)]
print(result_lc)

def square(num):
    return num ** 2
    

result_map = list(map(square, range(1, 11)))
print(result_map)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def <function>(<params>):
    <body>

# Lambda functions


- These are also known as `in-line` functions
- aka `anonymous` function
- aka `function without name`
- aka `single line function`


use cases

- We define lambda functions for one time requirements (no repeated use)

syntax 

```

lambda <params>: <expression>

```

In [34]:
sum_ = lambda x, y: x + y

sum_(20, 40)

60

In [48]:
(lambda x, y: x + y)(40, 50)

90

In [32]:
type(lambda x, y: x + y)

function

In [35]:
lambda x: x ** 2

In [37]:
result = map(lambda x: x ** 2, range(1, 11))
list(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
even_odd = lambda x: "even" if x % 2 == 0 else "odd"

In [42]:
res = map(
    even_odd,
    range(1, 11)
)
list(res)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [43]:
func = lambda a, b, c: a + b + c

In [44]:
func(1, 2, 3)

6

In [45]:
even_check = lambda x: True if x % 2 == 0 else False

In [46]:
res = filter(even_check, range(1, 11))
list(res)

[2, 4, 6, 8, 10]

## lambda function in list comprehension

In [52]:
cube = lambda x: x**3

[cube(x) for x in range(1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]