- set is `mutable`
- set is `unordered`
- set contains `unique`
- elements of set are `immutable`
- set does not support `indexing` or `slicing`

use cases 

- faster membership check
- to remove duplicates

In [ ]:
foo = set()

In [20]:
foo = {1, 2, 3}

In [21]:
foo = [2, 4, 5, 6, 6, 7]
foo = list(set(foo))

In [22]:
foo

[2, 4, 5, 6, 7]

'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## `add` function

In [2]:
foo = set()

foo.add(1)
foo

{1}

In [2]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

## `remove` function

In [4]:
example = {1, 2, 3}

example.remove(2)
example

{1, 3}

## `discard` function

In [24]:
example = {1, 2, 3}
example.discard(4)
example

{1, 2, 3}

In [7]:
example = {1, 2, 3}
example.remove(4)

KeyError: 4

# `pop()` function

In [16]:
example = {1, 2, 3, True, False, 10.300, "prashant"}

In [17]:
example.pop()

False

In [19]:
help(set.pop)

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [8]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

# `clear` function

In [5]:
example = {1, 2, 3}
example.clear()
example

set()

## `copy()` function


- shallow copy
    
    - shallow copy copies references of objects that are already created in memory

    - in case of flat list shallow and deepcopy work similar
    
- deepcopy 

    - allocates memory to each object in the collection
    - in case of nested list, even nested list gets a new `id()`

In [34]:
example1 = {1, 2, 3}
example2 = example1.copy()
example2

{1, 2, 3}

# set theory operations


# `isdisjoint` function

- two sets are called disjoint sets when no element is common

In [18]:
foo = {2, 3, 4, 5}
bar = {6, 7, 8, 9}

foo.isdisjoint(bar)

True

In [36]:
foo = {2, 3, 4}
bar = {2, 6, 7, 8, 9}

foo.isdisjoint(bar)

False

## `issubset`

- operator `<=`

syntax

```
    subset1 <= superset1
```


- `set1` is called subset of `set2` if all elements in `set1` are present in `set2`

In [38]:
set1 = {2, 3, 4}
set2 = {2, 6, 7, 8, 9, 3, 4}

set1.issubset(set2)

True

In [46]:
set1 = {2, 3, 4}
set2 = {2, 6, 7, 8, 9, 3, 4}

set1 <= set2

True

every set is subset of itself

In [48]:
set1 = {2, 3, 4}
set2 = {2, 3, 4}

set1.issubset(set2)
set1 <= set2

True

In [39]:
velocity1 = {"prashant", "rahul", "vijay"}
python_velocity2 = {"prashant", "rahul"}

python_velocity2.issubset(velocity1)

True

In [49]:
velocity1 = {"prashant", "rahul", "vijay"}
python_velocity2 = {"prashant", "rahul"}

python_velocity2 <= velocity1

True

In [50]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

city <= district_places

True

In [45]:
city.issubset(district_places)

True

## `issuperset()` function

-

In [51]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

district_places.issuperset(city)

True

In [52]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

district_places >= city

True

In [54]:
set1 = {2, 3, 4}
set2 = {2, 6, 7, 8, 9, 3, 4}

set2 >= set1

True

In [53]:
set1 = {2, 3, 4}
set2 = {2, 6, 7, 8, 9, 3, 4}

set2.issuperset(set1)

True

## `union` 

- union of set1 and set2 is when all element of both set are together
- `|` pipe operator

In [59]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}

set3 = set1.union(set2)

print(set1)
print(set2)
print(set3)

{2, 3, 4}
{3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [62]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {5, 6, 7, 8}

set4 = set1.union(set2, set3)

print(set1)
print(set2)
print(set3)
print(set4)

{2, 3, 4}
{3, 4, 5, 6}
{8, 5, 6, 7}
{2, 3, 4, 5, 6, 7, 8}

In [61]:
{2, 3, 4} | {3, 4, 5, 6} | {5, 6, 7, 8}

{2, 3, 4, 5, 6, 7, 8}

## `intersection()` function

- `&` operator


- a set is a called intersection set only when its all elements are present in both `set1` and `set2`

In [65]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {3, 4, 5, 6, 7, 8}


set4 = set1.intersection(set2, set3)
set4

{3, 4}

In [67]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {3, 4, 5, 6, 7, 8}


set1 & set2 & set3

{3, 4}

In [66]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

mh_cities = {"pune", "nagpur"}

city.intersection(district_places, mh_cities)

{'pune'}

In [70]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

mh_cities = {"pune", "nagpur"}

city & district_places & mh_cities & set()

set()

# `intersection_update` function

- `&=` operator

In [114]:
help(set.intersection_update)

Help on method_descriptor:

intersection_update(...)
    Update a set with the intersection of itself and another.

In [117]:
foo = {1, 2, 3, 5, 6}
bar = {4, 5, 6, 7, 8}

result = foo.intersection_update(bar)
print(result)
print(foo)

None
{5, 6}

In [116]:
foo = {1, 2, 3, 5, 6}
bar = {4, 5, 6, 7, 8}
result = foo.intersection(bar)
result

{5, 6}

- `intersection` is a return function

- `intersection_update` is a void function and it will update the object itself.

# `difference` set


- `-` operator

- elements present in `set1` and not present in `set2`

In [71]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}

set1.difference(set2)

{2}

In [80]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}

set1 - set2

{2}

In [72]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}

set2.difference(set1)

{5, 6}

In [81]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}

set2 - set1

{5, 6}

In [73]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

mh_cities = {"pune", "nagpur"}

city.difference(district_places)

set()

In [82]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

mh_cities = {"pune", "nagpur"}

city - district_places

set()

In [77]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

mh_cities = {"pune", "nagpur"}

district_places.difference(city, mh_cities)

{'latur'}

In [83]:
city = {"mumbai", "thane", "pune"}

district_places = {"mumbai", "thane", "pune", "latur"}

mh_cities = {"pune", "nagpur"}

district_places - city - mh_cities

{'latur'}

In [78]:
set1 = {2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {4, 5, 10, 20, 60}

set2.difference(set1, set3)

{6}

In [79]:
set1 = {2, 3, 4, 6, 10, 40, 60}
set2 = {3, 4, 5, 6}
set3 = {4, 5, 10, 20, 60}

set1.difference(set2, set3)

{2, 40}

In [84]:
set1 = {2, 3, 4, 6, 10, 40, 60}
set2 = {3, 4, 5, 6}
set3 = {4, 5, 10, 20, 60}

set1 - set2 - set3

{2, 40}

## `symmetric difference`

- `^` operator
- elements present either in `set1` or in `set2` but not in both

In [85]:
example1 = {1, 2, 3, 4, 5, 6}
example2 = {5, 6, 7}

result = example1.symmetric_difference(example2)
result

{1, 2, 3, 4, 7}

## `symmetric_difference_update`

- `^=` operator

In [124]:

example1 = {1, 2, 3, 4, 5, 6}
example2 = {5, 6, 7}

result = example1.symmetric_difference_update(example2)
print(example1)
print(result)

{1, 2, 3, 4, 7}
None

In [88]:
example1 = {1, 2, 3, 4, 5, 6}
example2 = {5, 6, 7}

example1 ^ example2

{1, 2, 3, 4, 7}

In [87]:
cities = {"mumbai", "pune", "delhi", "chennai", "hyderabad"}
mh_cities = {"pune", "nashik", "latur", "kolhapur"}

cities.symmetric_difference(mh_cities)

{'chennai', 'delhi', 'hyderabad', 'kolhapur', 'latur', 'mumbai', 'nashik'}

In [89]:
cities = {"mumbai", "pune", "delhi", "chennai", "hyderabad"}
mh_cities = {"pune", "nashik", "latur", "kolhapur"}

cities ^ mh_cities

{'chennai', 'delhi', 'hyderabad', 'kolhapur', 'latur', 'mumbai', 'nashik'}

In [93]:
foo = set([1, 2, 3])
bar = set([1, 3, 2])
foo ^ bar

set()

## `difference_update`

- `-=`

In [119]:
example1 = {1, 2, 3, 4, 5, 6}
example2 = {5, 6, 7}

result = example1.difference(example2)
result

{1, 2, 3, 4}

In [120]:
result = example1.difference_update(example2)
print(result)
print(example1)

None
{1, 2, 3, 4}

## `update()` function

-

In [103]:
foo = {1, 2, 4}
bar = {1, 2, 3, 4, 5}

foo.update(bar)
print(foo)

{1, 2, 3, 4, 5}

In [105]:
cities = {"mumbai", "pune", "delhi", "chennai", "hyderabad"}
mh_cities = {"pune", "nashik", "latur", "kolhapur"}

cities.update(mh_cities)
cities

{'chennai',
 'delhi',
 'hyderabad',
 'kolhapur',
 'latur',
 'mumbai',
 'nashik',
 'pune'}

## difference between update and union

- update (`void` function)
- union (`return` function)