### `split` function

- input (`str`)
- output (`list`)

### `join` function

- input (`list`)
- output (`str`)

### basic data types

- str
- float
- bool
- None
- int

### Structured data types 

- list  (`list()`)
- tuple (`tuple()`)
- set
- frozenset
- dict

# list

- heterogeneous
- homogeneous


- Definition

List is a collection of heterogeneous data type elements (not necessarily unique)

# how to create a list?

In [2]:
# to create empty list
foo = []
type(foo)  # `foo` is an object of class `list`

list

In [3]:
# to create empty list
bar = list()
bar

[]

In [6]:
# how to create list with elements?

example = ["prashant", "rahul", "virat", "hardik"]
type(example) # `example` is an object of class `list`

list

In [1]:
foo = ["prashant", "100", 2500, 30.20, True]
dir(foo)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## functions of `list`

'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

### `in-place` functions

`list` functions change the original object itself and hence are called as `in-place` functions

categorization of functions

- void function   (by default returns `None`)
- return function

## append function

In [16]:
cities = ["Mumbai", "Latur", "Pune", "Delhi"]
cities.append("Jaipur")
cities

['Mumbai', 'Latur', 'Pune', 'Delhi', 'Jaipur']

In [13]:
cities

['Mumbai', 'Latur', 'Pune', 'Delhi', 'Jaipur']

In [11]:
help(cities.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [17]:
countries = ["usa", "india", "aus", "uk"]

In [25]:
countries.append("pakistan")

In [26]:
countries

['usa',
 'india',
 'aus',
 'uk',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan',
 'pakistan']

In [28]:
cricketers = ["virat", "hardik", "sachin"]

In [31]:
cricketers.append("dhoni")

In [32]:
cricketers

['virat', 'hardik', 'sachin', 'dhoni', 'dhoni', 'dhoni']

## `clear` function

In [37]:
politicians = ["modi", "shah", "gadkari", "shinde"]

politicians.clear()
politicians

[]

In [38]:
student_record = ["prashant", "100", 21]
student_record.clear()
student_record

[]

## copy function

- shallow copy

In [39]:
brands = ["lenovo", "dell", "apple"]
laptops = brands.copy()
laptops

['lenovo', 'dell', 'apple']

In [40]:
help(brands.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [54]:
footballers = ["messi", "ronaldo", "sunil"]
international = footballers.copy()
international.append("xyz")
print(footballers)
print(international)

['messi', 'ronaldo', 'sunil']
['messi', 'ronaldo', 'sunil', 'xyz']

In [1]:
foo = []
bar = foo

foo.append("abc")
print(foo)
print(bar)

['abc']
['abc']

In [47]:
planets = ["jupyter", "earth", "marse"]
foo = planets

foo.append("moon")

planets

['jupyter', 'earth', 'marse', 'moon']

# extend function

- extend functions needs a list object as input
- it updates existing list elements with additional elements from input list

In [60]:
store1 = ["lenovo", "dell", "apple"]

store2 = ["samsung", "vivo"]

result = store1.extend(store2)

store1

['lenovo', 'dell', 'apple', 'samsung', 'vivo']

### NOTE - `list` is a ordered data structure

### `index` function

In [62]:
foo = [True, False, "random", 100.30, 9000]

    #.  0.     1.     2.        3.     4`

In [66]:
foo.index(9000)

4

In [67]:
help(foo.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.list instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [68]:
cities = ["mumbai", "mumbai", "pune", "mumbai"]
cities.index("mumbai")

0

In [153]:
cities.index("mumbai")

0

## `insert` function

- takes 2 arguments
- first argument has to be index position
- second argument has to be object you want to insert

In [69]:
help([].insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [2]:
suburbs = ["kothrud", "shivajinagar", "hadapsar"]

         #. 0.           1              2
suburbs.insert( 3,"pimpari")
suburbs

['kothrud', 'shivajinagar', 'hadapsar', 'pimpari']

In [75]:
actors = ["shahrukh", "salman", "hritik", "ajay", "yash"]
actors.insert(0, "karthik")
actors

['karthik', 'shahrukh', 'salman', 'hritik', 'ajay', 'yash']

## `pop` function

- `pop` function works on principle "LIFO"
- LIFO - Last In First Out
- you can invoke `pop` function without any arguments

## stack of books


c++
c
java
python

In [89]:
mobiles = ["apple"]    
mobiles.append("samsung")
mobiles.append("oppo")
mobiles.append("vivo")
mobiles

['apple', 'samsung', 'oppo', 'vivo']

In [90]:
mobiles.pop(2) # pop-out

'oppo'

In [91]:
mobiles

['apple', 'samsung', 'vivo']

## stack implementation

- append (to push elements in the stack)
- pop    (to take out last element from stack)

## `remove` function

In [95]:
random = ["prashant", "rahul", "sachin"]
help(random.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [96]:
random.remove("rahul")

In [97]:
random

['prashant', 'sachin']

### `reverse` function

In [100]:
foo = [1, 2, 3, 4, "prashant"]
foo.reverse()

foo

['prashant', 4, 3, 2, 1]

In [101]:
help(foo.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

## `sort` function

- by default sorts the list in ascending order

In [104]:
foo = [30, 40, 20, 10, 50, 60]
foo.sort()

foo

[10, 20, 30, 40, 50, 60]

In [105]:
bar = ["b", "c", "a"]
bar.sort()
bar

['a', 'b', 'c']

In [3]:
random = ["ab", "ac", "aa"]
random.sort()

random

['aa', 'ab', 'ac']

In [107]:
help(random.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [108]:
random = ["ab", "ac", "aa"]
random.sort(reverse=True)

random

['ac', 'ab', 'aa']

In [109]:
foo = [30, 40, 20, 10, 50, 60]
foo.sort(reverse=True)

foo

[60, 50, 40, 30, 20, 10]

In [111]:
# we cannot compare `int` with `str`


example = ["prashant", 40]
example.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [132]:
foo = [1,2,3,4,5]

In [138]:
foo.pop()

IndexError: pop from empty list

In [143]:
x = ["prashant", 0.50, 13413513, ["foo", "bar", 60, 0.3747]]
    #.  0.        1.     2.        3
                                  # 0.     1.    2.    3  
        
print(x)

['prashant', 0.5, 13413513, ['foo', 'bar', 60, 0.3747]]

In [4]:
r = int(input("please enter radius: "))

square_of_radius = r * r
result = 3.14 * square_of_radius
print(result)

please enter radius: 10
314.0

In [148]:
list = ["prashant"]
type(list)  # `list` is an object of class `list`

list

In [5]:
foo = list()
foo

[]

In [150]:
"a" in "prashant"

True

In [4]:
help([].count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.